<footer>
 <a class="f-a" href="#"><img src="https://st2.depositphotos.com/3382541/8313/i/950/depositphotos_83131290-stock-photo-illustration-passenger-plane-aircraft.jpg" class="logo">&nbsp;Aviation</a>
 <div class="div-footer">
 	<a href="#" class="dfa">Privacy Police</a>&nbsp;&nbsp;
 	<a href="#" class="dfa">Terms & Conditions</a>&nbsp;&nbsp;
 	<p class="text-white">Copyright 2014</p>&nbsp;&nbsp;
 	<p class="text-white">Capstone Project by AngelaVu</p>&nbsp;&nbsp;
 </div>
 <div class="footer-icons">
 	<p class="text-white">Connect with us:</p>&nbsp;&nbsp;
 	<i class="fab fa-twitter fa-lg"></i>&nbsp;&nbsp;
 	<i class="fab fa-instagram fa-lg"></i>&nbsp;&nbsp;
 	<i class="fab fa-facebook-f fa-lg"></i>&nbsp;&nbsp;
 </div>
</footer>