// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.f-1 {
  width: 25% !important;
  margin-left: 40%;
}

.f-0 {
  margin-left: 50%;
}

.f-2 {
  width: 25% !important;
  margin-left: 40%;
  height: 421px !important;
}

.f-3 {
  position: absolute;
  top: 30%;
  left: 12%;
}

.f-4 {
  margin-left: 44%;
}

.b-1 {
  margin-left: 42%;
  width: 400px;
}

.m2 {
  margin-left: 110px;
}

.art-img {
  width: 965px;
  margin-left: 5%;
  height: 490px;
}

.art-la {
  text-align: center;
}
