// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img-category {
  width: 100%;
  height: 596px;
}

.category-name {
  text-decoration: underline;
  margin-left: 5%;
  color: #f9a827;
  margin-top: 10px;
}

.category-name-1 {
  font-weight: bold;
  margin-left: 5%;
  color: #000;
}

.cat-p {
  margin-left: 5%;
}

.best {
  display: inline-flex;
  width: 50%;
}

.best > .pictunare {
  width: 100%;
  height: 596px;
  order: 1;
  border: 1px solid black;
}

.best > .information {
  width: 100%;
  height: 596px;
  order: 2;
  border: 1px solid black;
}

.disp_img_second {
  display: inline-flex;
  width: 50%;
}

.disp_img_second > .pictunare {
  width: 100%;
  height: 596px;
  order: 2;
  border: 1px solid black;
}

.disp_img_second > .information {
  width: 100%;
  height: 596px;
  order: 1;
  border: 1px solid black;
}
