// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img-category {
  width: 633px;
  height: 596px;
  margin-left: -35%;
  margin-top: -14%;
}

.category-name {
  text-decoration: underline;
  margin-left: 27%;
  color: #f9a827;
}

.category-name-1 {
  font-weight: bold;
  margin-left: 27%;
  color: #000;
}

.cat-p {
  margin-left: 27%;
}
